@import "tailwindcss";

@theme {
  --font-sans: var(--font-mulish), ui-sans-serif, system-ui, sans-serif;
  --color-deep-charcoal: #373a3d;
  --color-soft-grey: #dfe6e9;
  --color-pure-white: #ffffff;
  --color-accent: #ff4d4d;
}

:root {
  background-color: var(--color-deep-charcoal);
  color: var(--color-soft-grey);
}
